<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletTutorial</display-name>
  
  <!-- Define servlet, named helloServlet -->
<servlet>
   <servlet-name>helloServlet</servlet-name>
   <servlet-class>com.rokot.servlets.HelloServlet</servlet-class>
</servlet>
<!-- Defines the path to access this Servlet -->
<servlet-mapping>
   <servlet-name>helloServlet</servlet-name>
   <url-pattern>/hello</url-pattern>
</servlet-mapping>

  <!-- Define default servlet -->
<servlet>
   <servlet-name>defaultServlet</servlet-name>
   <servlet-class>com.rokot.servlets.MyDefaultServlet</servlet-class>
</servlet>
<!-- Defines the path to access this Servlet -->
<servlet-mapping>
   <servlet-name>defaultServlet</servlet-name>
   <url-pattern>/</url-pattern>
</servlet-mapping>
  
  
    <!-- Define example info servlet -->
<servlet>
   <servlet-name>exampleInfoServlet</servlet-name>
   <servlet-class>com.rokot.servlets.ExampleInfoServlet</servlet-class>
</servlet>
<!-- Defines the path to access this Servlet -->
<servlet-mapping>
   <servlet-name>exampleInfoServlet</servlet-name>
   <url-pattern>/exampleInfo</url-pattern>
</servlet-mapping>

    <!-- Define showMeServlet -->
<servlet>
   <servlet-name>showMeServlet</servlet-name>
   <servlet-class>com.rokot.servlets.ShowMeServlet</servlet-class>
</servlet>
<!-- Defines the path to access this Servlet -->
<servlet-mapping>
   <servlet-name>showMeServlet</servlet-name>
   <url-pattern>/showMe</url-pattern>
</servlet-mapping>

    <!-- Define loginServlet -->
<servlet>
   <servlet-name>loginServlet</servlet-name>
   <servlet-class>com.rokot.servlets.LoginServlet</servlet-class>
</servlet>
<!-- Defines the path to access this Servlet -->
<servlet-mapping>
   <servlet-name>loginServlet</servlet-name>
   <url-pattern>/login</url-pattern>
</servlet-mapping>

    <!-- Define UserInfoServlet -->
<servlet>
   <servlet-name>userInfoServlet</servlet-name>
   <servlet-class>com.rokot.servlets.UserInfoServlet</servlet-class>
</servlet>
<!-- Defines the path to access this Servlet -->
<servlet-mapping>
   <servlet-name>userInfoServlet</servlet-name>
   <url-pattern>/userInfo</url-pattern>
</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>